h1 {
    font-family: 'Franklin Gothic';
}
p {
    font-family: 'Arial Narrow';
}

body {
    background: purple;
    color: white;
    margin: 0;
    padding: 0;
}



/*=================================================================*/

/* Här börjar header CSS */


/*Här börjar Main CSS*/
